In [30]:
# Task 1.1: Create a list 'nums' and append cubes of the list to 'cubes'
nums = [3, 5, 7, 8, 12]  # Given list
cubes = []  # Empty list to store cubes

# Loop through nums and append cubes to the cubes list
for num in nums:
    cubes.append(num ** 3)  # Cubing the number and appending

# Print the cubes list
print("List of cubes:", cubes)

List of cubes: [27, 125, 343, 512, 1728]

In [31]:
# Task 1.2: Create an empty dictionary and add key-value pairs
animal_legs = {}  # Empty dictionary

# Adding data to the dictionary
animal_legs['parrot'] = 2
animal_legs['goat'] = 4
animal_legs['spider'] = 8
animal_legs['crab'] = 10

# Print the dictionary
print("Animal Legs Dictionary:", animal_legs)

Animal Legs Dictionary: {'parrot': 2, 'goat': 4, 'spider': 8, 'crab': 10}

In [32]:
# Task 1.3: Loop through the dictionary and print animals and their legs, then sum the legs
animal_legs = {
    'parrot': 2,
    'goat': 4,
    'spider': 8,
    'crab': 10
}

# Initialize a variable to store the total number of legs
total_legs = 0

# Loop through the dictionary and print the animals with their corresponding legs
for animal, legs in animal_legs.items():
    print(f"The {animal} has {legs} legs.")
    total_legs += legs  # Add the number of legs to the total

# Print the total number of legs
print(f"Total number of legs: {total_legs}")

The parrot has 2 legs.
The goat has 4 legs.
The spider has 8 legs.
The crab has 10 legs.
Total number of legs: 24

In [33]:
# Task 1.4: Create a tuple and change the value in the list inside it
A = (3, 9, 4, [5, 6])  # Tuple containing a list

# Changing the value in the list from 5 to 8
A[3][0] = 8  # Accessing the list inside the tuple and modifying its first element

# Print the modified tuple
print("Modified tuple:", A)

Modified tuple: (3, 9, 4, [8, 6])

In [34]:
# Task 1.5: Delete the tuple
A = (3, 9, 4, [5, 6])  # Define the tuple

# Deleting the tuple A
del A

# Trying to print the tuple after deletion (this will cause an error if uncommented)
# print(A)  # This will raise a NameError because A has been deleted

In [35]:
# Task 1.6: Create a tuple and count the occurrences of 'p'
B = ('a', 'p', 'p', 'l', 'e')  # Define the tuple

# Count the number of occurrences of 'p'
p_count = B.count('p')

# Print the result
print("The number of occurrences of 'p':", p_count)

The number of occurrences of 'p': 2

In [36]:
# Find the index of 'l'
l_index = B.index('l')

# Print the result
print("The index of 'l' in the tuple:", l_index)

The index of 'l' in the tuple: 3

In [37]:
import numpy as np  # Importing the numpy library

# Task 2.1: Convert matrix A into a NumPy array
A = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]  # Define the matrix A as a list of lists

# Convert the matrix into a NumPy array
A_np = np.array(A)

# Print the NumPy array
print("Matrix A as a NumPy array:\n", A_np)

Matrix A as a NumPy array:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [38]:
# Task 2.2: Slice the first 2 rows and columns 1 and 2
b = A_np[:2, :2]  # First 2 rows and first 2 columns

# Print the resulting subarray
print("Subarray b (first 2 rows and columns 1 and 2):\n", b)

Subarray b (first 2 rows and columns 1 and 2):
 [[1 2]
 [5 6]]

In [39]:
# Task 2.3: Create an empty matrix 'C' with the same shape as 'A'
C = np.empty_like(A_np)  # Create an empty matrix with the same shape and type as 'A'

# Print the empty matrix C
print("Empty matrix C with the same shape as A:\n", C)

Empty matrix C with the same shape as A:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [40]:
z = np.array([1, 0, 1])  # Define vector z

# Task 2.4: Add the vector z to each column of matrix A using an explicit loop and store the result in C
C = np.empty_like(A_np)  # Create an empty matrix C with the same shape as A

# Loop through each column and add vector z to it
for i in range(A_np.shape[1]):  # Loop over the number of columns
    C[:, i] = A_np[:, i] + z  # Add z to each column of A

# Print the result
print("Matrix C after adding vector z to each column of A:\n", C)

Matrix C after adding vector z to each column of A:
 [[ 2  3  4  5]
 [ 5  6  7  8]
 [10 11 12 13]]

In [41]:
# Define matrices X and Y
X = np.array([[1, 2], [3, 4]])
Y = np.array([[5, 6], [7, 8]])

# Task 2.5: Add the matrices X and Y
result = X + Y  # Element-wise addition of X and Y

# Print the result
print("The sum of matrices X and Y:\n", result)

The sum of matrices X and Y:
 [[ 6  8]
 [10 12]]

In [42]:
# Define matrices X and Y
X = np.array([[1, 2], [3, 4]])
Y = np.array([[5, 6], [7, 8]])

# Task 2.6: Multiply the matrices X and Y (matrix multiplication)
result = np.dot(X, Y)  # Matrix multiplication of X and Y

# Print the result
print("The product of matrices X and Y:\n", result)

The product of matrices X and Y:
 [[19 22]
 [43 50]]

In [43]:
# Define matrix Y
Y = np.array([[5, 6], [7, 8]])

# Task 2.7: Compute and print the element-wise square root of matrix Y
sqrt_Y = np.sqrt(Y)  # Element-wise square root of Y

# Print the result
print("Element-wise square root of matrix Y:\n", sqrt_Y)

Element-wise square root of matrix Y:
 [[2.23606798 2.44948974]
 [2.64575131 2.82842712]]

In [44]:
# Define matrix X and vector v
X = np.array([[1, 2], [3, 4]])
v = np.array([9, 10])

# Task 2.8: Compute and print the dot product of matrix X and vector v
dot_product = np.dot(X, v)  # Dot product of matrix X and vector v

# Print the result
print("The dot product of matrix X and vector v:\n", dot_product)

The dot product of matrix X and vector v:
 [29 67]

In [45]:
# Define matrix X
X = np.array([[1, 2], [3, 4]])

# Task 2.9: Compute and print the sum of each column of X
column_sum = np.sum(X, axis=0)  # Sum along columns (axis=0)

# Print the result
print("The sum of each column of matrix X:\n", column_sum)

The sum of each column of matrix X:
 [4 6]

In [46]:
# Task 3.1: Create a function 'Compute' to calculate velocity
def Compute(distance, time):
    if time != 0:
        velocity = distance / time  # Calculate velocity as distance divided by time
        return velocity
    else:
        return "Time cannot be zero!"  # Handle division by zero

# Example usage of the Compute function
distance = 100  # Example distance in meters
time = 15       # Example time in seconds

velocity = Compute(distance, time)

# Print the calculated velocity
print("Velocity:", velocity, "m/s")

Velocity: 6.666666666666667 m/s

In [47]:
# Task 3.2: Create a list of even numbers and a function to calculate the product

# Create a list of even numbers up to 12
even_num = [2, 4, 6, 8, 10, 12]

# Define the function 'mult' to calculate the product of all entries in the list
def mult(numbers):
    product = 1  # Start with 1 as the multiplicative identity
    for num in numbers:
        product *= num  # Multiply each number to the product
    return product

# Call the function and calculate the product of the list 'even_num'
result = mult(even_num)

# Print the result
print("The product of all even numbers:", result)

The product of all even numbers: 46080

In [1]:
import pandas as pd  
# Create a Pandas DataFrame
data = {
    'C1': [1, 2, 3, 5, 5],
    'C2': [6, 7, 5, 4, 8],
    'C3': [7, 9, 8, 6, 5],
    'C4': [7, 5, 2, 8, 8]
}

df = pd.DataFrame(data)  # Create DataFrame from the data

# Task 4.1: Print the first two rows of the DataFrame
print("First two rows of the DataFrame:\n", df.head(2))

First two rows of the DataFrame:
    C1  C2  C3  C4
0   1   6   7   7
1   2   7   9   5

In [49]:
# Task 4.2: Print the second column of the DataFrame
second_column = df['C2']  # Access the second column by its name
print("Second column (C2) of the DataFrame:\n", second_column)

Second column (C2) of the DataFrame:
 0    6
1    7
2    5
3    4
4    8
Name: C2, dtype: int64

In [50]:
# Task 4.3: Rename the third column 'C3' to 'B3'
df.rename(columns={'C3': 'B3'}, inplace=True)

# Print the updated DataFrame
print("DataFrame after renaming 'C3' to 'B3':\n", df)

DataFrame after renaming 'C3' to 'B3':
    C1  C2  B3  C4
0   1   6   7   7
1   2   7   9   5
2   3   5   8   2
3   5   4   6   8
4   5   8   5   8

In [51]:
# Task 4.4: Add a new column to the DataFrame and name it 'Sum'
df['Sum'] = df.sum(axis=1)  # Sum each row and store it in the new 'Sum' column

# Print the updated DataFrame
print("DataFrame after adding the 'Sum' column:\n", df)

DataFrame after adding the 'Sum' column:
    C1  C2  B3  C4  Sum
0   1   6   7   7   21
1   2   7   9   5   23
2   3   5   8   2   18
3   5   4   6   8   23
4   5   8   5   8   26

In [52]:
# Task 4.5: Sum the entries of each row and add the result in the 'Sum' column
df['Sum2'] = df[['C1', 'C2', 'B3', 'C4']].sum(axis=1)  # Sum the entries of each row

# Print the updated DataFrame
print("DataFrame after summing the entries of each row:\n", df)

DataFrame after summing the entries of each row:
    C1  C2  B3  C4  Sum  Sum2
0   1   6   7   7   21    21
1   2   7   9   5   23    23
2   3   5   8   2   18    18
3   5   4   6   8   23    23
4   5   8   5   8   26    26

In [53]:
# Task 4.6: Read the CSV file 'hello_sample.csv' into a Pandas DataFrame
df_csv = pd.read_csv('hello_sample.csv')  # Replace with the correct path to your CSV file

# Print the DataFrame
print("DataFrame from 'hello_sample.csv':\n", df_csv)

DataFrame from 'hello_sample.csv':
     Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [54]:
#Task 4.7

# Print the complete DataFrame
print("Complete DataFrame from 'hello_sample.csv':\n", df_csv)

Complete DataFrame from 'hello_sample.csv':
     Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [55]:
#Task 4.8
# Print the bottom 2 records of the DataFrame
print("Bottom 2 records of the DataFrame:\n", df_csv.tail(2))

Bottom 2 records of the DataFrame:
    Gender F_Color     B_Month  Weight
21   Male  Yellow       April      74
22   Male     Red  September       66

In [56]:
#Task 4.9
# Print information about the DataFrame
print("Information about the DataFrame:")
df_csv.info()

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Gender   23 non-null     object
 1   F_Color  23 non-null     object
 2   B_Month  23 non-null     object
 3   Weight   23 non-null     int64
dtypes: int64(1), object(3)
memory usage: 868.0+ bytes

In [57]:
#Task 4.10
# Print the shape of the DataFrame
print("Shape of the DataFrame (rows, columns):", df_csv.shape)

Shape of the DataFrame (rows, columns): (23, 4)

In [58]:
#Task 4.11
# Sort the DataFrame using the 'Weight' column
df_sorted = df_csv.sort_values(by='Weight')

# Print the sorted DataFrame
print("DataFrame sorted by 'Weight':\n", df_sorted)

DataFrame sorted by 'Weight':
     Gender  F_Color     B_Month  Weight
2     Male    Black     October      53
16    Male    Black      August      54
9     Male     Blue         May      58
7   Female      Red   September      59
18    Male  Mustard   December       60
10  Female      Red    October       60
6     Male   Orange      August      60
8     Male     Blue        July      60
3   Female     Blue    February      63
11    Male    Black   September      65
22    Male      Red  September       66
20    Male    Black   February       67
13    Male    Black       April      72
1     Male      Red       March      72
21    Male   Yellow       April      74
19  Female    Black    October       76
0     Male    Black       March      77
4     Male    black    October       80
17    Male    Black     January      82
12    Male    Green    December      85
14    Male    Green    January       90
15    Male   Yellow   November       90
5   Female    Black    december      97

In [59]:
#Task 4.12
# Check for null values using isnull()
null_check = df_csv.isnull()

# Use dropna() to remove rows with any missing values
df_no_na = df_csv.dropna()

# Print the results
print("Null value check (True indicates missing values):\n", null_check)
print("\nDataFrame after dropping rows with missing values:\n", df_no_na)

Null value check (True indicates missing values):
     Gender  F_Color  B_Month  Weight
0    False    False    False   False
1    False    False    False   False
2    False    False    False   False
3    False    False    False   False
4    False    False    False   False
5    False    False    False   False
6    False    False    False   False
7    False    False    False   False
8    False    False    False   False
9    False    False    False   False
10   False    False    False   False
11   False    False    False   False
12   False    False    False   False
13   False    False    False   False
14   False    False    False   False
15   False    False    False   False
16   False    False    False   False
17   False    False    False   False
18   False    False    False   False
19   False    False    False   False
20   False    False    False   False
21   False    False    False   False
22   False    False    False   False

DataFrame after dropping rows with missing values:
     Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [60]:
#Task 4.12
# Check for null values using isnull()
null_check = df_csv.isnull()

# Use dropna() to remove rows with any missing values
df_no_na = df_csv.dropna()

# Print the results
print("Null value check (True indicates missing values):\n", null_check)
print("\nDataFrame after dropping rows with missing values:\n", df_no_na)

Null value check (True indicates missing values):
     Gender  F_Color  B_Month  Weight
0    False    False    False   False
1    False    False    False   False
2    False    False    False   False
3    False    False    False   False
4    False    False    False   False
5    False    False    False   False
6    False    False    False   False
7    False    False    False   False
8    False    False    False   False
9    False    False    False   False
10   False    False    False   False
11   False    False    False   False
12   False    False    False   False
13   False    False    False   False
14   False    False    False   False
15   False    False    False   False
16   False    False    False   False
17   False    False    False   False
18   False    False    False   False
19   False    False    False   False
20   False    False    False   False
21   False    False    False   False
22   False    False    False   False

DataFrame after dropping rows with missing values:
     Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66